
body {
    font-family: 'Arial', sans-serif;
    margin-top: 56px;
}

#banner {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-weight: bold;
}

#sobre img {
    max-width: 80%;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
}

.social-links a {
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007bff;
}